on: [push]
jobs:
  format-changeset:
    runs-on: ubuntu-latest
    name: A job to run clang-format on your diff
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 2
      - name: "Run git-clang-format"
        id: git_clang_format
        uses: blavallee/actions@v1.4
      - name: Open pull request
        uses: actions/github-script@v3.1.0
        with:
          script: |
            github.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: 'ClangFormat-${{github.event.inputs.sha}}',
              base: '${{github.event.inputs.sha}}'
              title: 'Format  ${{github.event.inputs.sha}}'
            })

