on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
jobs:
  format-changeset:
    runs-on: ubuntu-20.04 
    name: A job to run clang-format on your diff
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: 'Run clang format'
        id: format
        run: |
          sudo apt-get update  && sudo apt-get install --no-install-recommends --assume-yes clang-format
          git diff -U0 --no-color origin/master HEAD | /usr/share/clang/clang-format-10/clang-format-diff.py -i -p1
          if [ -n "$(git status --porcelain)" ]; then
            echo "::set-output name=changes_detected::true";
          else
            echo "::set-output name=changes_detected::false";
          fi
      - name: 'Commit changes'
        id: commit
        if: steps.format.outputs.changes_detected == 'true'
        run: |
          current_sha="$(git rev-parse HEAD)"
          git checkout -b "clang-format-$current_sha"
          git config user.name coveobot
          git config user.email coveobot@coveo.com
          git commit --all --message "Clang format on " --message "$current_sha"
          git push origin "clang-format-$current_sha"
          echo "::set-output name=new_branch::clang-format-$current_sha"
      - name: Open pull request
        if: steps.format.outputs.changes_detected == 'true'
        uses: actions/github-script@v3.1.0
        with:
          script: |
            console.log(context)
            github.pulls.create({
              owner: 'blavallee',
              repo: 'test-workflow',
              head: '${{steps.commit.outputs.new_branch}}',
              base: context.repo.head,
              title: 'Apply clang-format'
            })
      - name: Set the state
        if: steps.format.outputs.changes_detected == 'true'
        run: exit 1

