on: [push]
jobs:
  format-changeset:
    runs-on: ubuntu-latest
    name: A job to run clang-format on your diff
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 2
      - name: "Run git-clang-format"
        id: git_clang_format
        uses: blavallee/actions@v1.7
      - name: Open pull request
        uses: actions/github-script@v3.1.0
        with:
          debug: true
          script: console.log(context)

