on: [push]
jobs:
  format-job:
    runs-on: ubuntu-latest
    name: A job to run clang-format on your diff
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          repository: blavallee/actions
          token: ${{ secrets.GITHUB_TOKEN }} 
          ref: master
          path: ./blavallee-actions 
      - name: clang-format-step
        id: clang-format
        uses: ./blavallee-actions
