on: [push]
jobs:
  format-job:
    runs-on: ubuntu-latest
    name: A job to run clang-format on your diff
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: clang-format-step
        id: clang-format
        uses: blavallee/actions@v0.7
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch-suffix: timestamp
