on: [push]
jobs:
  format-changeset:
    runs-on: ubuntu-latest
    name: A job to run clang-format on your diff
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 2
      - name: "Run git-clang-format"
        id: git_clang_format
        uses: blavallee/actions@v0.9
      - name: "Create a PR if changes have been detetcted"
        if: steps.git_clang_format.outputs.changes_detected == 'true'
        run: |
          git config user.name blavallee 
          git config user.email blavallee@coveo.com
          git commit --all --message "Clang-format" -m $(git log -1 --pretty=%B)
          git push origin UpdateTo-${{github.event.inputs.sha}}



